/* src/index.css */
@import "tailwindcss";

/* Definimos la animación de la barra de progreso */
@theme {
  @keyframes progress-infinity {
    0% { transform: translateX(-100%) scaleX(0.1); }
    50% { transform: translateX(0%) scaleX(0.5); }
    100% { transform: translateX(100%) scaleX(0.1); }
  }
  
  --animate-progress-infinity: progress-infinity 1.5s infinite linear;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* Scrollbar para la navegación del sidebar */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #404854;
  border-radius: 3px;
  transition: background 0.2s;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #525c68;
}